<div class="p-grid">
    <div class="col-12">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Ручное управление" [selected]="true">
                <app-manual-run [stations]="stations"></app-manual-run>
            </p-accordionTab>
            <p-accordionTab header="Программы">
                <app-programs
                    [programs]="programs"
                    (programChange)="programChange($event)"
                ></app-programs>
            </p-accordionTab>
            <p-accordionTab header="Зоны">
                <app-zones
                    [stations]="stations"
                    [programs]="programs"
                    (stationChange)="stationChange($event)"
                ></app-zones>
            </p-accordionTab>
            <p-accordionTab header="Настройки">
                <app-options
                    [options]="options"
                    (optionChange)="optionChange($event)"
                ></app-options>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
