<div class="grid shadow-3 border-round-lg">
    <div class="col-12 brightness">
        <app-coil [coil]="dimmChanel"></app-coil>
        <div
            class="fill-current-brightness border-round-lg bg-blue-300"
            [ngStyle]="{
                width: dimmChanel.chanelValue + '%'
            }"
        ></div>
    </div>
    <div class="col-12 flex flex-column">
        <p-slider
            [ngModel]="dimmChanel.setBrightness"
            (onChange)="dimmChanel.setBrightness = $event.value"
        ></p-slider>
    </div>
</div>
