<div class="flex flex-column shadow-3 border-round-lg w-9rem m-2">
    <div class="brightness">
        <app-coil [coil]="dimmer"></app-coil>
        <div
            class="fill-current-brightness border-round-lg bg-blue-300"
            [ngStyle]="{
                width: dimmer.chanelValue + '%'
            }"
        ></div>
    </div>
    <div class="flex flex-column mt-1">
        <p-slider
            [ngModel]="setBrightness$.value"
            (onChange)="setBrightness$.next($event.value)"
        ></p-slider>
    </div>
</div>
