.brightness {
  position: relative;
  margin: -0.5rem;
  .fill-current-brightness {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0.5;
    pointer-events: none;
  }
}
