<!--The content below is only a placeholder and can be replaced.-->
<div class="flex flex-column h-full overflow-y-auto">
    <div class="header">
        <app-header (toggleMenu)="menuVisible = !menuVisible"></app-header>
    </div>
    <div class="page-name center" *ngIf="pageName">
        {{ pageName }}
    </div>
    <div class="flex-grow-1 overflow-y-auto">
        <router-outlet></router-outlet>
    </div>
</div>
<p-sidebar [(visible)]="menuVisible">
    <ng-template pTemplate="header">Меню</ng-template>
    <ng-template pTemplate="content"><app-menu></app-menu></ng-template>
</p-sidebar>
