<!--The content below is only a placeholder and can be replaced.-->
<div class="flex flex-column h-full overflow-auto p-2">
    <div class="header">
        <app-header (toggleMenu)="menuVisible = !menuVisible"></app-header>
    </div>
    <div class="page-name center" *ngIf="pageName">
        {{ pageName }}
    </div>
    <div class="grid flex-grow-1 mt-2">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="menuVisible">
    <ng-template pTemplate="header">Меню</ng-template>
    <ng-template pTemplate="content"><app-menu></app-menu></ng-template>
</p-sidebar>
