<div class="grid">
    <div
        class="col-12 field p-shadow-1"
        *ngFor="let station of stations | keyvalue"
    >
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
                <label> {{ station.key }} (мин.)</label><br />
                <p-inputNumber
                    [disabled]="relayStatus[station.key]"
                    [(ngModel)]="times[station.key]"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    inputId="horizontal"
                    spinnerMode="horizontal"
                    [step]="1"
                    decrementButtonClass="p-button-danger"
                    incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    min="5"
                    max="40"
                >
                </p-inputNumber>
            </div>
            <div class="col-12 md:col-6 lg:col-3 actions">
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Старт"
                    class="p-button-success p-mr-1"
                    [disabled]="relayStatus[station.key]"
                    (click)="start(station.key)"
                ></button>
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Стоп"
                    class="p-button-warning"
                    [disabled]="!relayStatus[station.key]"
                    (click)="stop(station.key)"
                ></button>
            </div>
        </div>
    </div>
</div>
