<div class="flex flex-column h-full overflow-auto">
    <div>
        датчик температуры:<span class="control">
            {{ temperature$ | async }}</span
        >
        <br />
        датчик дождя: <span class="control">{{ rainDetected$ | async }}</span>
    </div>
    <div class="flex-grow-1 overflow-auto mt-2 px-2">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Ручное управление" [selected]="true">
                <app-manual-run
                    [stations]="stations"
                    [zoneRelayTopicsMaps]="zoneRelayTopicsMaps"
                    (sendCommand)="manualSendCommand($event)"
                ></app-manual-run>
            </p-accordionTab>
            <p-accordionTab header="Программы">
                <app-programs
                    [programs]="programs"
                    (programChange)="programChange($event)"
                ></app-programs>
            </p-accordionTab>
            <p-accordionTab header="Зоны">
                <app-zones
                    [stations]="stations"
                    [programs]="programs"
                    (stationChange)="stationChange($event)"
                ></app-zones>
            </p-accordionTab>
            <p-accordionTab header="Настройки">
                <app-options
                    [options]="options"
                    (optionChange)="optionChange($event)"
                ></app-options>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
