<div class="p-grid">
    <div class="p-col-12" *ngFor="let station of stations | keyvalue">
        <div class="p-grid">
            <div class="p-col">
                {{ station.key }}
            </div>
            <div class="p-col">
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Старт"
                    class="p-button-success p-mr-1"
                ></button>
                <button
                    pButton
                    pRipple
                    type="button"
                    label="Стоп"
                    class="p-button-warning"
                ></button>
            </div>
            <div class="col">
                <label for="integeronly">Время полива</label>
                <p-inputNumber
                    [(ngModel)]="times[station.key]"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    inputId="horizontal"
                    spinnerMode="horizontal"
                    [step]="1"
                    decrementButtonClass="p-button-danger"
                    incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    min="5"
                    max="40"
                >
                </p-inputNumber>
            </div>
        </div>
    </div>
</div>
