<div class="p-grid">
    <div class="p-col program" *ngFor="let program of programs | keyvalue">
        <ng-container
            *ngTemplateOutlet="programRef; context: { program: program }"
        ></ng-container>
    </div>
</div>

<ng-template #programRef let-program="program">
    <p-panel [toggleable]="true">
        <p-header class="header">
            <div>
                <h4>
                    Программа <strong>{{ program.key }}</strong>
                </h4>
            </div>
        </p-header>
        <div class="p-grid">
            <table class="styled-table">
                <tbody>
                    <tr>
                        <td>Время начала полива</td>
                        <td *ngFor="let item of program.value; let i = index">
                            <p-calendar
                                [ngModel]="item.startTime"
                                (ngModelChange)="
                                    changeTime($event, program.key, item)
                                "
                                [timeOnly]="true"
                                appendTo="body"
                            ></p-calendar>
                        </td>
                    </tr>
                    <tr>
                        <td>Длительность полива</td>
                        <td *ngFor="let item of program.value; let i = index">
                            <p-inputNumber
                                [min]="10"
                                [max]="50"
                                [(ngModel)]="item.workTime"
                                (ngModelChange)="cahngeValue(program.key)"
                            >
                            </p-inputNumber>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </p-panel>
</ng-template>
